body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.sticky-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Viền dưới của thanh menu */
    background-color: #00000065;
}


.container-fluid {
    max-width: 1960px;
}

.top-bar {
    position: absolute;
    height: 45px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 45px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .text i {
    font-size: 16px;
    color: #FDBE33;
    margin-right: 5px;
}

.top-bar .text p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.top-bar .social {
    display: flex;
    height: 74px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    font-size: 16px;
    color: #FDBE33;
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .social a:hover {
    color: #ffffff;
    background: #FDBE33;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: rgb(186, 93, 118);
    transition: 2s;
}

.navbar {
    transition: .5s;
    z-index: 999;
    background-color: #00000065;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 10px 15px;
    color: #ffffff;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #FDBE33;
    transition: none;
}

@media (min-width: 992px) {
    .navbar {
        padding: 20px 60px;
        background: transparent !important;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
        border-bottom: none;
    }

    .page .navbar {
        background: #ffffff !important;
    }

    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 15px;
        background: #ffffff !important;
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
    }
}
.content {
    max-width: 800px;
    margin: 60px auto 20px;
    padding: 20px;
   
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
article {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    padding-top:20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section.intro p, section.content p, section.discoveries p {
    text-align: justify;
}

h3 {
    font-size: 20px;
    margin-top: 40px;
    color: #333;
}

figure {
    margin: 20px 0;
}

figure img {
    max-width: 70%; 
    height: auto;
    display: block;
    margin: 0 auto;  
   
}

figcaption {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

section.intro {
    margin-bottom: 40px;
}

section.content, section.discoveries {
    margin-bottom: 20px;
}

footer {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding */
    text-align: center; /* Center-align text */
}

/* Social icons */
.social a {
    color: #fff; /* Icon color */
    margin-right: 10px; /* Spacing between icons */
}

/* Additional info */
.additional-info ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin-top: 10px; /* Add spacing from social icons */
}

.additional-info ul li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 10px; /* Spacing between list items */
}

.additional-info ul li a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline */
}

/* Contact info */
.contact-info {
    margin-top: 20px; /* Add spacing from additional info */
}

.contact-info p {
    font-weight: bold; /* Make the heading bold */
}

.contact-info ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

.contact-info ul li {
    margin-top: 5px; /* Add spacing between list items */
}

