
.hero{
    height: 100vh;
    width:100%;
    background-image :url("https://i.pinimg.com/originals/63/8c/3c/638c3c2396cea471c13d0026f5988970.gif");
    background-size: cover;
    background-position: center;

}

span{
    color:rgb(29, 58, 67);
}

.content {
    position: absolute;
    top: 50%;
    right: 8%; 
    transform: translateY(100%);
    transform: translateX(20%);
}
.hero h1{
    color:rgb(254, 249, 249);
    margin: 20px 0px 20px;
    font-size: 75px;
}

.hero h4{
    color:rgb(241, 233, 233);
    letter-spacing: 2px;
    font-size: 40px;
   text-align: right;
   
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(120px, auto));
    gap: 20px;
    max-width: 1200px;
    margin: 10px auto;
    padding: 100px 0;
}

#grid-container div {
    position: relative;
    overflow: hidden;
    
}

.one{
    grid-column: 1/4;
    grid-row: 1/4;

}

.two{
    grid-column: 4/6;
    grid-row: 1/4;
}

.three{
    grid-column: 1/3;
    grid-row: 4/6;

}


.four{
    grid-column: 3/5;
    grid-row: 4/6;

}


.five{
    grid-column: 5/6;
    grid-row: 4/6;

}

.full-image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.full-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.text-image {
    display: flex;
    align-items: center;
    padding: 10px;
}

.text-image img {
    max-width: 100px;
    margin-right: 10px;
}
/*sao lun trang*/
.image-in {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.image-in img {
    height: auto;
    width: 650px;
    order: 2;
    margin-left: 20px;
}

.text-img {
    width: 500px;
    order: 1;
    margin-right: 15px;
}

.main-img {
    width: 2000px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-img h1 {
    color: rgb(0, 0, 0);
    font-size: 65px;
    text-transform: capitalize;
    margin: 0 0 15px;
}

.text-img p {
    color: rgb(4, 0, 0);
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 25px;
}

.read-more-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none; /* Xóa gạch chân */
    color: #ebbcbc; /* Màu chữ */
    background-color:#e8e6e6;
    padding: 10px 15px; /* Thêm khoảng cách bên trong */
    border-radius: 35px; /* Bo góc */
    transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.read-more-link:hover {
    color: #e79999; /* Màu chữ khi hover */
}

.read-more-link img {
    margin-left: 5px;
    vertical-align: middle;
    width:25px;
    height:25px;
}



* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.sticky-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Viền dưới của thanh menu */
    background-color: #00000065;
}


.container-fluid {
    max-width: 1960px;
}

.top-bar {
    position: absolute;
    height: 45px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 45px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .text i {
    font-size: 16px;
    color: #FDBE33;
    margin-right: 5px;
}

.top-bar .text p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.top-bar .social {
    display: flex;
    height: 74px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    font-size: 16px;
    color: #FDBE33;
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .social a:hover {
    color: #ffffff;
    background: #FDBE33;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: rgb(186, 93, 118);
    transition: 2s;
}

.navbar {
    transition: .5s;
    z-index: 999;
    background-color: #00000065;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 10px 15px;
    color: #ffffff;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #FDBE33;
    transition: none;
}

@media (min-width: 992px) {
    .navbar {
        padding: 20px 60px;
        background: transparent !important;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
        border-bottom: none;
    }

    .page .navbar {
        background: #ffffff !important;
    }

    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 15px;
        background: #ffffff !important;
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
    }
}
/*grid*/

.about {
    width: 100%;
    background-color: rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.video-container {
    position: relative;
    order: 2;
    width: 880px; /* Chiều rộng cố định của video */
    height: 495px; /* Chiều cao cố định của video */
    overflow: hidden; /* Ẩn phần ngoài phạm vi */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Loại bỏ đường viền */
}

.about-text {
    width: 500px;
    order: 1;
    margin-right: 15px;
}

.main {
    width: 2000px;
    max-width: 95%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-transform: capitalize;
    margin: 0 0 15px;
}


.about-text p {
    color: rgb(162, 160, 160);
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 25px;
}

.messier78{
    background-image: url("https://science.nasa.gov/wp-content/uploads/2024/05/euclid-s-new-image-of-star-forming-region-messier-78-pillars.webp");
    height: 100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    position: relative;
    color: #fff;
}

.text-messier {
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 80px;
    color: white;
    max-width: 800px;
}

.text-messier h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.text-messier p {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Footer styles */
footer {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding */
    text-align: center; /* Center-align text */
}

/* Social icons */
.social a {
    color: #fff; /* Icon color */
    margin-right: 10px; /* Spacing between icons */
}

/* Additional info */
.additional-info ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin-top: 10px; /* Add spacing from social icons */
}

.additional-info ul li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 10px; /* Spacing between list items */
}

.additional-info ul li a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline */
}

/* Contact info */
.contact-info {
    margin-top: 20px; /* Add spacing from additional info */
}

.contact-info p {
    font-weight: bold; /* Make the heading bold */
}

.contact-info ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

.contact-info ul li {
    margin-top: 5px; /* Add spacing between list items */
}
